body, html {
    height: 100%;
}

table td {
    padding: 10px;
    border: 1px solid black;
}

table {
    margin: auto;
    border-collapse: collapse;
}

.divgrid {
    margin: 0;
}

.navbar-light {
    background-color: #e3f2fd;
}

#box {
    background-color: green;
    height: 3px;
    width: 3px;
    position: relative;
    cursor: pointer;
}

#box2 {
    background-color: red;
    height: 3px;
    width: 3px;
    position: relative;
    cursor: pointer;
}

#thetitle {
    text-align: center;
    padding: 50px;
    color: black;
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
}

